.contact-field {
  display: flex;
  flex-direction: column;
}

.contact-input {
  flex: 0 1 100%;
}

.contact-message {
  font-size: 90%;
}

.bcf-input:invalid ~ .bcf-message,
.bcf-textarea:invalid ~ .bcf-message,
.bcf-textarea:invalid ~ .bcf-message {
  color: red;
}

.bcf-checkbox-label.form-check-label {
  margin-left: 0;
}

.bcf-checkbox.form-check-input {
  left: 0;
}
