.wp-block-basic-contact-form-form {
  input, textarea, select {
    pointer-events: none;
  }
}

.basic-contact-form-editor-panel-control {
  max-width: 100%;

  input {
    max-width: 100%;
  }
}
/*
.wp-block-basic-contact-form-form {

  > .editor-inner-blocks > .editor-block-list__layout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    align-items: baseline;
    outline: 2px solid yellow;

    > .block-editor-block-list__block {
      display: contents;
      outline: 2px solid green;

      > .block-editor-block-list__block-edit {
        outline: 2px solid blue;
        display: contents;

        > *[data-block] {
          display: contents;
          outline: 2px solid green;

          > *:not(.wp-block-basic-contact-form-textfield) {
            grid-column: 1 / span 2;
          }

          > .wp-block-basic-contact-form-textfield {
            display: contents;

            > .bcf-label {
              grid-column: 1;
            }

            > .bcf-input {
              grid-column: 2;
            }

            > .bcf-message {
              grid-column: 1 / span 2;
              line-height: 1em;
              font-size: 80%;
              min-height: 1em;
            }

          }
        }
      }
    }
  }
}
*/
